---
layout: default
title: Home
---
<h1>{{ "Hello World!" | downcase }}</h1>
<nav>
  {% for brand in site.data.brands %}
    <p>Name: {{ brand.name }} <br/>
    Status: {{ brand.status }}</p>
  {% endfor %}
</nav>
