<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <a href="http://slava-ukraini.gitlab.org/operation-mallrats">
      <img src="/img/mallrats.svg" alt="#Operation Mallrats" caption="Global fashion brands get the fuck out of Russian malls">
    </a>
    {% include navigation.html %}
    {{ content }}
  </body>
</html>
